.App {
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin:10px 60px 10px 60px; 
  text-align: center;
  font-family: arial;
}
.container{
  background-color: rgb(42, 44, 43);
  font-size: medium;
  color: rgb(184, 187, 189);
}
.cartbtn{
  margin-top: 10px;
}
.login{
  padding-top: 10px;
}
.edit{
  color: rgb(17, 29, 25);
  font-size: larger;
}
.total{
  margin-top: 10px;
  font-size: small;
}
.cartitem{
  color: rgb(17, 29, 25);
  font-size: larger;
}
.add{
  margin-bottom: 10px;
}
.cmpname
{
  margin: 0;
  padding: 0;
}
.detail
{
  margin: 0;
  padding: 0;
}
.price {
  color: grey;
  font-size: 22px;
  margin: 0px;
  padding: 0px;
}
.logout
{
  float: right;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}